<div class="container">
    <div class="text-center">
        <h1>Проект на тему "Склад"</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <span>
                Данный сайт предназначен для мониторинга склада продукции, химии и продаж.
                <br />
                На сайте используется 3 вида ролей(Менеджер, кладовщик, директор)
                <br />
                Менеджер - может уменьшать(продавать) и увеличивать(оформлять возврат) кол-во товаров на складе
                <br />
                Действия Менеджера влияют 2 на ячейки БД - "Всего проданно" и "Кол-во"
                <br />
                Кладовщик - может уменьшать(Списывать в брак) и увеличивать(производить) кол-во товаров на складе
                <br />
                Действия Кладовщика влияют 2 на ячейки БД - "Всего произведено" и "Кол-во"
                <br />
                Кладовщик имеет доступ к таблице с химией(действия такие-же, как в таблице с продуктами)
                <br />
                Директор - Имеет доступ ко всем таблицам, может делать всё то же, что и менеджер с кладовщиком
                <br />
                Также Директор может добавлять новых сотрудников, давать им роли и смотреть список всех сотрудников
            </span>
        </div>
        <div class="col-12">
            <div class="text-center">
                <h5>Папки и классы</h5>
            </div>
            <span>
                Всего в проекте 20, написанных вручную, классов и 12 представлений
                <br />
                Domains - папка, содержит в себе классы определений продуктов и химии
                <br />
                Data - папка, содержит в себе классы работающие с БД
                <br />
                Abstract - в папке хранятся интерфейсы для работы с БД
                <br />
                Controllers - здесь лежат контроллеры Аккаунта, Директора, Химии, Продукции
                <br />
                Models - классы моделей данных для пользователей
            </span>
        </div>
        <div class="col-12">
            <div class="text-center">
                <h5>Аккаунты</h5>
            </div>
            <span>
                Директор - Логин(boss@mail.ru) Пароль(!Qwerty1) Роль(boss)
                <br />
                Менеджер Логин(manager@mail.ru) Пароль(!Qwerty1) Роль(manager)
                <br />
                Кладовщик Логин(sklad@mail.ru) Пароль(!Qwerty1) Роль(storekeeper)
            </span>
        </div>
    </div>
</div>
